<div>

  <div class='client-lk header'>
    <div>
      <h1>Здравствуйте, {{firstName}}!</h1>
    </div>
    <div>
      <div>
        <a href='/project/new'>+ Новая заявка</a>
      </div>
      <div>
        <a href='/logout'>Выход</a>
      </div>
    </div>
  </div>


  <ul>
    {{#each projects}}
    <li>{{this.companyName}}</li>
    {{/each}}
  </ul>
</div>