<div id='indexdiv'>
  <img id="indeximg" width="300" height="57" src="https://upload.wikimedia.org/wikipedia/ru/a/a8/Otkritie_logo_2017.png"
    alt="">
  <div class='indexDivBlock'>
    <b>
      <a class='indexA' href='/client/registration'>Регистрация для клиентов</a>
      <a class='indexA' href='/client/login'>Вход для клиентов</a>
      <a class='indexA' href='/bank/registration'>Регистрация для сотрудников банка</a>
      <a class='indexA' href='/bank/login'>Вход для сотрудников банка</a>
    </b>
  </div>
</div>
</div>
<div id="footer">
  © Coded by Elbrus-Bootcamp Students (Raccoons-2019)
</div>