<div id='indexdiv'>
  <h1>Открытие</h1>
  <div>
    <p class='indexDivBlock'>
      <p class='indexA'>
        <a href='/client/registration'>Регистрация для клиентов</a>
      </p>
      <p class='indexA'>
        <a href='/client/login'>Вход для клиентов</a>
      </p>
      <p class='indexA'>
        <a href='/bank/registration'>Регистрация для сотрудников банка</a>
      </p>
      <p class='indexA'>
        <a href='/bank/login'>Вход для сотрудников банка</a>
      </p>
  </div>
</div>
</div>