<h1>{{text}}</h1>

<div>
  <a href='/client/registration'>Регистрация для клиентов</a>
  <a href='/client/login'>Вход для клиентов</a>
  <a href='/bank/registration'>Регистрация для сотрудников банка</a>
  <a href='/bank/login'>Вход для сотрудников банка</a>
</div>