<form method="post" action="/project/new">
  <ul id='registrationInit'>
    <h1 id='header'>Создание нового проекта</h1>
    <div>
      <li class='list'>
        <div><label>Наименование компании:</label></div>
        <div><input class='checkFills' name="companyName" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Название проекта:</label></div>
        <div><input class='checkFills' name="projectName" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Индустрия:</label></div>
        <div><input class='checkFills' name="industry" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Срок проекта:</label></div>
        <div> <input class='checkFills' name="projectDuration" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Год основания компании:</label></div>
        <div><input class='checkFills' name="yearOfFoundation" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div> <label>Размер инвестиций:</label></div>
        <div><input class='checkFills' name="investments" placeholder="Обязательно" type="text"></div>
      </li>
      <li class='list'>
        <div> <label>Чистый долг:</label></div>
        <div><input class='checkFills' name="netDebt" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>IRR (без TV), %:</label></div>
        <div><input class='checkFills' name="IRR" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>NPV (без TV):</label></div>
        <div><input class='checkFills' name="NPV" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>IRR (с TV):</label></div>
        <div><input class='checkFills' name="IRRTV" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>NPN (с TV):</label></div>
        <div><input class='checkFills' name="NPVTV" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>DPBP, лет:</label></div>
        <div><input class='checkFills' name="DPBP" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>TV:</label></div>
        <div><input class='checkFills' name="TV" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Краткое описание проекта:</label></div>
        <div> <input class='checkFills' name="description" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Рынок:</label></div>
        <div><input class='checkFills' name="market" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Сектор рынка 1:</label></div>
        <div><input class='checkFills' name="sector1" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Сектор рынка 2:</label></div>
        <div><input class='checkFills' name="sector2" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Сектор рынка 3:</label></div>
        <div><input class='checkFills' name="sector3" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Сектор рынка 4:</label></div>
        <div><input class='checkFills' name="sector4" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Конкурент 1:</label></div>
        <div><input class='checkFills' name="competitor1" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Конкурент 2:</label></div>
        <div><input class='checkFills' name="competitor2" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Конкурент 3:</label></div>
        <div><input class='checkFills' name="competitor3" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Конкурент 4:</label></div>
        <div><input class='checkFills' name="competitor4" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Конкурент 5:</label></div>
        <div><input class='checkFills' name="competitor5" placeholder="Обязательно" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Тренд 1:</label></div>
        <div><input class='checkFills' name="trend1" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Тренд 2:</label></div>
        <div><input class='checkFills' name="trend2" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Тренд 3:</label></div>
        <div><input class='checkFills' name="trend3" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Тренд 4:</label></div>
        <div><input class='checkFills' name="trend4" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Тренд 5:</label></div>
        <div><input class='checkFills' name="trend5" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Выручка:</label></div>
        <div><input class='checkFills' name="revenue" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Выручка 1:</label></div>
        <div><input class='checkFills' name="revenue1" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Выручка 2:</label></div>
        <div><input class='checkFills' name="revenue2" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Выручка 3:</label></div>
        <div><input class='checkFills' name="revenue3" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Выручка 4:</label></div>
        <div><input class='checkFills' name="revenue4" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Выручка 5:</label></div>
        <div><input class='checkFills' name="revenue5" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Себестоимость:</label></div>
        <div><input class='checkFills' name="costPrice" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Расход 1:</label></div>
        <div><input class='checkFills' name="cost1" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Расход 2:</label></div>
        <div><input class='checkFills' name="cost2" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Расход 3:</label></div>
        <div><input class='checkFills' name="cost3" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Расход 4:</label></div>
        <div><input class='checkFills' name="cost4" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>КиАУР:</label></div>
        <div><input class='checkFills' name="KiAUR" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>EBITDA:</label></div>
        <div><input class='checkFills' name="EBITDA" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Рентабельность по EBITDA:</label></div>
        <div><input class='checkFills' name="profitabilityEBITDA" placeholder="Несколько значений через пробел"
            type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Амортизация:</label></div>
        <div><input class='checkFills' name="depreciation" placeholder="Несколько значений через пробел" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>EBIT:</label></div>
        <div><input class='checkFills' name="EBIT" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Проценты:</label></div>
        <div><input class='checkFills' name="interest" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Налог на прибыль:</label></div>
        <div><input class='checkFills' name="incomeTax" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Чистая прибыль:</label></div>
        <div><input class='checkFills' name="netProfit" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Капитальные затраты:</label></div>
        <div><input class='checkFills' name="capitalExpenditures" placeholder="Несколько значений через пробел"
            type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Инвестиции в рабочий капитал:</label></div>
        <div><input class='checkFills' name="projectInvestments" placeholder="Несколько значений через пробел"
            type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Чистый долг:</label></div>
        <div><input class='checkFills' name="projectNetDebt" placeholder="Несколько значений через пробел" type="text">
        </div>
      </li>

      <li class='list'>
        <div><label>Операционный денежный поток:</label></div>
        <div><input class='checkFills' name="cashFlow" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>FCFF:</label></div>
        <div><input class='checkFills' name="FCFF" placeholder="Несколько значений через пробел" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Показатель 1:</label></div>
        <div><input class='checkFills' name="index1" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Показатель 2:</label></div>
        <div><input class='checkFills' name="index2" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Показатель 3:</label></div>
        <div><input class='checkFills' name="index3" placeholder="Обязательно" type="text"></div>
      </li>

      <li class='list'>
        <div><label>Показатель 4:</label></div>
        <div><input class='checkFills' name="index4" placeholder="Обязательно" type="text"></div>
      </li>

    </div>
  </ul>
  <ul>
    <div><input id='submit-button' class="button" type="submit" value="Отправить форму"></div>
  </ul>
</form>