body {
  display: flex;
  justify-content: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: Whitney A, Whitney B, -apple-system, Helvetica, Arial, sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #f2f7f9;
  -webkit-font-feature-settings: "tnum", "tnum";
  font-feature-settings: "tnum", "tnum";
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin-left: 15%;
}

#registrationInit {
  animation-name: fade-in-opacity;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 rgba(79, 93, 112, 0.03);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 442px;
  margin: 15% 20% 10% 15%;
  opacity: 1;
  overflow: hidden;
  padding: 40px 40px 40px 40px;
  width: 70%;
}
#header {
  align-items: center;
  font-size: large;
}

input {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 8px;
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  border: 1px solid #999;
  background-color: transparent;
  color: #666;
  border: 1px solid #00b4e3;
  outline: 0;
}

.clientlk-a {
  box-shadow: 5px 12px 24px 5px rgba(79, 93, 112, 0.03);

  text-decoration: none;
  color: #fff;
}
.button {
  border: #00b4e3 solid 2px;
  border-radius: 8px;
  text-align: center;
  /* border-color: #26cef0; */
  background-color: #00b4e3;
  color: #fff;
  height: 48px;
  line-height: 46px;
  padding: 0;
  width: 220px;
}
.button:hover {
  color: #fff;
  background-color: #26cef0;
  border-color: #26cef0;
  height: 48px;
  line-height: 46px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 220px;
}
#indexdiv {
  background-color: white;

  border: 2px solid #00b4e3;
  margin: 20%;
  border-radius: 8px;
  text-align: center;
  height: 230px;
  width: 350px;
  box-shadow: 5px 12px 24px 5px rgba(22, 25, 31, 0.03);
}
.indexDivBlock {
  display: flexbox;
  justify-content: center;
  flex-direction: column;
}

.indexA {
  color: #00b4e3;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  justify-content: space-evenly;
  text-decoration: none;
}

.client-lk-main-div {
  display: flexbox;
  align-items: left;
  margin-left: 0px;
  padding-left: 0px;
}

.client-lk-main-header {
  align-items: center;
}

.client-lk-main-header-element {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-evenly;
}
#client-lk-main-h1header {
  text-align: center;
}

.clientlk {
  background-color: white;
  align-items: stretch;
  display: flexbox;
  border: 2px solid #00b4e3;
  margin: 5%;
  border-radius: 8px;
  height: auto;
  min-width: 400px;
  /* width: auto; */
  box-shadow: 5px 12px 24px 5px rgba(79, 93, 112, 0.03);
}

.clientlk-li-element {
  margin: 10px;
  flex-direction: column;
}

#client-lk-main-body {
  display: flexbox;
  justify-content: left;
  flex-direction: column;
}

.client-lk-main-headers {
  text-align: center;
}

.project-main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projectDivBlock {
  background-color: white;
  border: 2px solid #00b4e3;
  box-shadow: 5px 12px 24px 5px rgba(79, 93, 112, 0.03);
  font-size: medium;
  border-radius: 8px;
}

#project-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-backbutton {
  align-self: center;
  margin-top: 10px;
  justify-content: center;
}

#bank-lk-main-body {
  display: flexbox;
  justify-content: left;
  flex-direction: column;
}
